<?xml version="1.0" encoding="UTF-8"?>
<beans init-method="init" id-method="contId">

  <Config id="config">
    <value set-as="logMappings">true</value>
    <value set-as="useWidgetId">true</value>
  </Config>

  <import resource="src/main/main.xml" />
  <import resource="src/info/info.xml" />
  <import resource="src/otherMain/otherMain.xml" />
  <import resource="src/wizardContainer/wizardContainer.xml" />
  <import resource="src/submitTest1/submitTest1.xml" />
  <import resource="src/tab/tab.xml" />
  <import resource="src/treeView1/treeView1.xml" />
  <import resource="src/treeViewDefConversion/treeViewDefConversion.xml" />
  <import resource="src/cellRendererProps/cellRendererProps.xml" />
  <import resource="src/cellRenderers/cellRenderers.xml" />
  <import resource="src/simpleTreeListStore/simpleTreeListStore.xml" />
</beans>
