<?xml version="1.0" encoding="UTF-8"?>
<beans init-method="init" id-method="contId">

  <Config id="config">
    <value set-as="logMappings">true</value>
    <value set-as="useWidgetId">true</value>
  </Config>

  <DimensionRestoreDatabase id="dimensionRestoreDatabase" />

  <import resource="main/main.xml" />
  <import resource="info/info.xml" />
  <import resource="otherMain/otherMain.xml" />
  <import resource="wizardContainer/wizardContainer.xml" />
  <import resource="submitTest1/submitTest1.xml" />
  <import resource="submitAuto/submitAuto.xml" />
  <import resource="tab/tab.xml" />
  <import resource="treeView1/treeView1.xml" />
  <import resource="treeViewDefConversion/treeViewDefConversion.xml" />
  <import resource="cellRendererProps/cellRendererProps.xml" />
  <import resource="cellRenderers/cellRenderers.xml" />
  <import resource="simpleTreeListStore/simpleTreeListStore.xml" />
  <import resource="simpleTreeListStore2/simpleTreeListStore2.xml" />
  <import resource="simpleTreeListStore3/simpleTreeListStore3.xml" />
  <import resource="addNode/addNode.xml" />
  <import resource="openFile/openFile.xml" />
</beans>
